/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29 Aug, 2016, 8:06:25 PM
    Author     : dl2
*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(../../bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

body, .container, ul, div.add-note-p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
}

[contenteditable] { line-height: 1.8; white-space:pre-wrap}
[contenteditable]:focus { outline: 0px solid transparent; }

.material-icons {
    z-index: 999 !important;
    outline: none;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.logo > h1 {
    font-size: 2em;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0;
    margin-top: 5px;
    color:#000;
}

.anview-logo {
    z-index: 999;
    position: absolute;
    left: 3%;
}


.icones-wapper {
    margin-top: 2px;
    display: block;
}

.icones i {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.56);
}

.box {
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 15%;
    margin: 0 auto;
    padding-right: 17px;
}

.note-list {
    line-height: 1.7;
    float: left;
    width: 100%;
}

.note-list-cont {
    background-color: #E4E9EF;
}
#right .note-list > p {
    text-transform: capitalize;
}

.md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(195, 241, 255, 0.22);
}
.header-icones{
    padding: 7px !important;
}
.note-title {
    z-index: 999;
    width: 100%;
    background: #fff;
}

#right .active {
    background: #49A2E3;
    color: #fff;
}

#right .active.selected {
    background: #175180;
}

#left .active {
    background: #BBDEFB;
}

#left .active.selected {
    background: #7f9ab1;
    color:#fff;
}

.add_note_btn {
    margin: 0 auto;
    padding: 0px 2px 0px 0px ;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: #49A2E3 !important;
}
.add_note_btn > i {
    margin: 0;
}

.note-list-settings {
    margin-top: 5px;
    float: right;
}

.note-title {
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 4px 3px;
}

button[disabled="disabled"] {
    background-color: rgba(73, 162, 227, 0.47) !important;
}
button[disabled="disabled"] > i {
    color:rgb(174, 177, 179) !important;
}


.search-box {
    margin-top: 2px;
}
input[type=text].search {
    color:#000;
    float:right;
    width: 82px;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    padding: 7px 13px;
    outline: none;

    transition: width 0.4s ease-in-out;
}

input[type=text].active {
    outline: none;
    width: 80%;
    border-bottom: 2px solid #01579b;
}

.h-93 {
    height: 93%;
}

.m-t-2 {
    margin-top: 2px;
}

.height-100 {
    height: 100%;
}
.overflow-y {
    overflow-y: auto;
}

.col-sm-3, .col-sm-9, .col-sm-4 {
    float: left;
    margin: 1%;

}
.cols-row {
    background: #fff;
    float: left;
}
.col-sm-3 {
    width: 26%;
}
.col-sm-4 {
    width: 30%;
}
.col-sm-9 {
    width: 70%;
}

.text-center {
    text-align: center;
}

.margin-none {
    margin: 0 !important;
}
.padding-none {
    padding: 0 !important;
}

.md-whiteframe-1dp {
    outline: none;
}
.width-100{
    width: 100% !important;
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-27 { font-size: 27px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F3F2F1;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(156, 160, 162, 0.80);
}


/* Welcome Message*/
.welcome{
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: lighter;
    background: #00396f;
    background-image: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.2)),-webkit-linear-gradient(108deg,#e5e9bf 10%,#00396f 90%);
    background-image: -moz-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.2)),-moz-linear-gradient(108deg,#e5e9bf 10%,#00396f 90%);
    background-image: -ms-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.2)),-ms-linear-gradient(108deg,#e5e9bf 10%,#00396f 90%);
    background-size: cover;


    animation: welcome 10s ease;
    visibility: hidden;
    height:0;
}
@keyframes welcome {
    0% {
        height:100%;
        visibility: visible;
    }
    100% {
        height:100%;

    }
}
.welcome > .container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.welcome a {
    text-decoration:none;
    color:transparent;
}

.welcome .main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: -ms-radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 35%, rgba(0, 0, 0, 0.7));
}

.welcome .content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
    font-size:18px;
    -webkit-transition: font-size 1s ease-out;
    -moz-transition: font-size 1s ease-out;
    transition: font-size 1s ease-out;
}

@media only screen and (max-width: 800px){
    .welcome .content { font-size:10px; }
}

@media only screen and (max-width: 400px){
   .welcome .content { font-size:5px; }
}

.welcome .main h2 {
    position: absolute;
    font-weight: 100;
    top: 50%;
    height: 1em;
    margin-top: -0.5em;
    font-size: 4em;
    line-height: 1.2em;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-animation: blurFadeInOut 3s ease-in backwards;
    -moz-animation: blurFadeInOut 3s ease-in backwards;
    -ms-animation: blurFadeInOut 3s ease-in backwards;
    animation: blurFadeInOut 3s ease-in backwards;
}

.welcome .main h2.frame-4 {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
}
.welcome .main h2.frame-4 span {
    -webkit-animation: blurFadeIn 3s ease-in backwards;
    -moz-animation: blurFadeIn 1s ease-in backwards;
    -ms-animation: blurFadeIn 3s ease-in backwards;
    animation: blurFadeIn 3s ease-in backwards;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
    letter-spacing: 0.2em;
}
.welcome .main h2.frame-4 span:nth-child(1) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
    margin-left: 0.4em;
}
.welcome .main h2.frame-4 span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}
/*.welcome .main h2.frame-4 span:nth-child(3) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;
}*/

.welcome .main h2.base {
    -webkit-animation: blurFadeIn 3s ease-in backwards;
    -moz-animation: blurFadeIn 3s ease-in backwards;
    -ms-animation: blurFadeIn 3s ease-in backwards;
    animation: blurFadeIn 3s ease-in backwards;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -ms-animation-delay: 5s;
    animation-delay: 5s;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
    font-weight: bold;
    font-size: 8.2em;
    margin-top: -1.65em;
    font-family: 'Century Gothic';
}


@-webkit-keyframes blurFadeInOut{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }
    20%,75%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
    100%{
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        -webkit-transform: scale(0);
    }
}
@-webkit-keyframes blurFadeIn{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }
    50%{
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        -webkit-transform: scale(1.1);
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes fadeInBack{
    0%{
        opacity: 0;
        -webkit-transform: scale(0);
    }
    50%{
        opacity: 0.4;
        -webkit-transform: scale(2);
    }
    100%{
        opacity: 0.2;
        -webkit-transform: scale(5);
    }
}
@-webkit-keyframes fadeInRotate{
    0%{
        opacity: 0;
        -webkit-transform: scale(0) rotate(360deg);
    }
    100%{
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
    }
}

/**/
@keyframes blurFadeInOut{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    20%,75%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        transform: scale(0);
    }
}
@keyframes blurFadeIn{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    50%{
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
}
@keyframes fadeInBack{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 0.4;
        transform: scale(2);
    }
    100%{
        opacity: 0.2;
        transform: scale(5);
    }
}
@keyframes fadeInRotate{
    0%{
        opacity: 0;
        transform: scale(0) rotate(360deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@media print {
    #page_content {
        background-color: white;
        height: 100%;
        width: 100% !important;
        max-width: 100% !important;
        word-break: keep-all;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        z-index: 9999;
    }
}